@import 'variables.scss';
@import 'price-card.scss';
* {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  background-color: $dark;
  display: flex;
  min-height: 100vh;
}
