.container {
  display: flex;
  margin: auto;
  min-height: 100vh;
  color: $white;
}
.price-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: $grey;
  overflow: hidden;

  &_first {
    margin-top: 63px;
    margin-left: 132px;
    margin-right: 18px;

    margin-bottom: 60px;
  }
  &_second {
    margin-top: 63px;
    margin-bottom: 60px;
    margin-right: 18px;
  }
  &_third {
    margin-top: 63px;
    margin-bottom: 60px;
    margin-right: 132px;
  }

  &__title {
    text-align: center;
    &_first {
      margin-left: 140px;
      margin-right: 140px;
      margin-top: 33px;
      width: 100px;
      height: 64px;
    }
    &_second {
      margin-top: 8px;
      margin-left: 108px;
      width: 164px;
      height: 64px;
    }
    &_third {
      margin-left: 102px;
      margin-top: 33px;
      width: 176px;
      height: 64px;
    }
  }
  &__title-basic {
    margin: 0;
    padding: 0;
    line-height: 43px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  &__title-website {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
  }

  &__price {
    margin-bottom: 40px;
    line-height: 105px;
    width: 380px;
    height: 105px;
    text-align: center;
    font-size: 55px;
    &_green {
      background-color: $green;
    }
    &_blue {
      background-color: $blue;
    }
    &_orange {
      background-color: $orange;
    }
  }
  &__description {
    margin-left: 26px;
    margin-right: 26px;
    margin-bottom: 40px;
    line-height: 18px;
    font-size: 15px;
    text-align: center;
    width: 327px;
    height: 36px;
  }
  &__options-list {
    padding: 0;
    margin: 0;
  }
  &__options-list-item {
    width: 380px;
    height: 50px;
    list-style-type: none;
  }
  &__options-list-item:nth-child(odd) {
    background-color: $light-black;
  }
  &__order-btn {
    margin-top: 39px;
    margin-left: 112px;
    margin-right: 113px;
    font-size: 14px;
    line-height: 17px;
    width: 154px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-align: center;
    color: $white;
    &_green {
      background-color: $green;
      cursor: pointer;
    }
    &_blue {
      background-color: $blue;
      cursor: pointer;
    }
    &_orange {
      background-color: $orange;
      cursor: pointer;
    }
  }
}
.picture {
  margin-top: 15px;
  margin-left: 22px;
  margin-right: 17px;
}
.span {
  margin-top: 14px;
  margin-bottom: 16px;
  line-height: 18px;
  font-size: 15px;
}
.tape {
  position: relative;
  left: 265px;
  top: 30px;
  line-height: 25px;
  transform: rotate(45deg);
  width: 147px;
  height: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  background-color: $red;
}
